body{
    background-color: #FBF4EF;
    display: flex;
    flex-direction: column;
}


.info_frame{
    float: right;
    text-align: center;
    width: 40%;
    margin: 5%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: #FFF;
    border: 1px solid #000000
}

#user_info_text{
    margin-top: 5%;
    font-size: 25px;
}

.edit_user_info_button{
    padding: 8px 12px;
    width: 135px;
    cursor: pointer;
}

#edit-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#info_row {
    display: flex;
    flex-wrap: nowrap;
  }

.info_container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 5% 10% 10% 10%;
  }

#picture-delete{
    display: flex;
    flex-direction: column;
    float:left;
    margin: 5%;
}

#delete-button-div{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

#profile_picture_frame{
    margin: 5%;
    width: 250px;
    height: 250px;
    float: left;
    background-color: #FFF;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border: 1px solid #000000
}

#profile_picture{
    margin: 10%;
}
