
<body>

    <div class="shadow">
        <form>
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
      </div>
      <div>
        <label for="owner">Owner:</label>
        <input type="text" id="owner" name="owner">
      </div>
      <div>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location">
      </div>
      <div>
        <label for="benefits">Benefits:</label>
        <input type="text" id="benefits" name="benefits">
      </div>
      <div>
      <button type="submit">Save</button>
        </div>
      </form>
    </div>
    
    </body>
    