
<head>
  <link href='https://fonts.googleapis.com/css?family=Pinyon Script' rel='stylesheet'>
</head>
<hr>
<div id="icons">
<img src="https://picsum.photos/50/50" alt="placeholder" />
<img src="https://picsum.photos/50/50" alt="placeholder" />

<img src="https://picsum.photos/50/50" alt="placeholder" />

<img src="https://picsum.photos/50/50" alt="placeholder" />

<img src="https://picsum.photos/50/50" alt="placeholder" />
</div>
<hr>
<div id="cards">
  <div class ="column">
    <div class="card">
      <img src="https://picsum.photos/300/300" alt="Avatar" >
      <h4><b>Accommodation 1</b></h4>
      <div class="container">
        <div class="details">
          <p>Price: 599.99</p>
          <p>Location: Brazil</p>
        </div>
        <div class="icon">
          <img src="https://picsum.photos/50/50">
        </div>
      </div>
    </div>
  </div>

  <div class ="column">
    <div class="card">
      <img src="https://picsum.photos/300/300" alt="Avatar" >
      <h4><b>Accommodation 1</b></h4>
      <div class="container">
        <div class="details">
          <p>Price: 599.99</p>
          <p>Location: Brazil</p>
        </div>
        <div class="icon">
          <img src="https://picsum.photos/50/50">
        </div>
      </div>
    </div>
  </div>

  <div class ="column">
    <div class="card">
      <img src="https://picsum.photos/300/300" alt="Avatar" >
      <h4><b>Accommodation 1</b></h4>
      <div class="container">
        <div class="details">
          <p>Price: 599.99</p>
          <p>Location: Brazil</p>
        </div>
        <div class="icon">
          <img src="https://picsum.photos/50/50">
        </div>
      </div>
    </div>
  </div>
  <div class ="column">
    <div class="card">
      <img src="https://picsum.photos/300/300" alt="Avatar" >
      <h4><b>Accommodation 1</b></h4>
      <div class="container">
        <div class="details">
          <p>Price: 599.99</p>
          <p>Location: Brazil</p>
        </div>
        <div class="icon">
          <img src="https://picsum.photos/50/50">
        </div>
      </div>
    </div>
  </div>
  <div class ="column">
    <div class="card">
      <img src="https://picsum.photos/300/300" alt="Avatar" >
      <h4><b>Accommodation 1</b></h4>
      <div class="container">
        <div class="details">
          <p>Price: 599.99</p>
          <p>Location: Brazil</p>
        </div>
        <div class="icon">
          <img src="https://picsum.photos/50/50">
        </div>
      </div>
    </div>
  </div>
  <div class ="column">
    <div class="card">
      <img src="https://picsum.photos/300/300" alt="Avatar" >
      <h4><b>Accommodation 1</b></h4>
      <div class="container">
        <div class="details">
          <p>Price: 599.99</p>
          <p>Location: Brazil</p>
        </div>
        <div class="icon">
          <img src="https://picsum.photos/50/50">
        </div>
      </div>
    </div>
  </div>
  <div class ="column">
    <div class="card">
      <img src="https://picsum.photos/300/300" alt="Avatar" >
      <h4><b>Accommodation 1</b></h4>
      <div class="container">
        <div class="details">
          <p>Price: 599.99</p>
          <p>Location: Brazil</p>
        </div>
        <div class="icon">
          <img src="https://picsum.photos/50/50">
        </div>
      </div>
    </div>
  </div>
  <div class ="column">
    <div class="card">
      <img src="https://picsum.photos/300/300" alt="Avatar" >
      <h4><b>Accommodation 1</b></h4>
      <div class="container">
        <div class="details">
          <p>Price: 599.99</p>
          <p>Location: Brazil</p>
        </div>
        <div class="icon">
          <img src="https://picsum.photos/50/50">
        </div>
      </div>
    </div>
  </div>
  <div class ="column">
    <div class="card">
      <img src="https://picsum.photos/300/300" alt="Avatar" >
      <h4><b>Accommodation 1</b></h4>
      <div class="container">
        <div class="details">
          <p>Price: 599.99</p>
          <p>Location: Brazil</p>
        </div>
        <div class="icon">
          <img src="https://picsum.photos/50/50">
        </div>
      </div>
    </div>
  </div>
  <div class ="column">
    <div class="card">
      <img src="https://picsum.photos/300/300" alt="Avatar" >
      <h4><b>Accommodation 1</b></h4>
      <div class="container">
        <div class="details">
          <p>Price: 599.99</p>
          <p>Location: Brazil</p>
        </div>
        <div class="icon">
          <img src="https://picsum.photos/50/50">
        </div>
      </div>
    </div>
  </div>
  <div class ="column">
    <div class="card">
      <img src="https://picsum.photos/300/300" alt="Avatar" >
      <h4><b>Accommodation 1</b></h4>
      <div class="container">
        <div class="details">
          <p>Price: 599.99</p>
          <p>Location: Brazil</p>
        </div>
        <div class="icon">
          <img src="https://picsum.photos/50/50">
        </div>
      </div>
    </div>
  </div>
  <div class ="column">
    <div class="card">
      <img src="https://picsum.photos/300/300" alt="Avatar" >
      <h4><b>Accommodation 1</b></h4>
      <div class="container">
        <div class="details">
          <p>Price: 599.99</p>
          <p>Location: Brazil</p>
        </div>
        <div class="icon">
          <img src="https://picsum.photos/50/50">
        </div>
      </div>
    </div>
  </div>










</div>
