<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
</head>
<body>
<div class="shadow">
  <div class="login-form">
    <img src="../../assets/images/logo.png" height="61" width="98" alt="logo" class="logo-image"/>
    <form method="post">
      <div class="form-group">
        <i class="fa fa-user icon"></i>
        <input type="text" id="email" name="email" required placeholder="Email">
      </div>
      <div class="form-group">
        <i class="fa fa-key icon"></i>
        <input type="text" id="password" name="password" required placeholder="Password">
      </div>
      <button type="button">LOGIN</button>
      <label>Forgot password?</label>
    </form>
  </div>

</div>
</body>
