body{
    background: #FBF4EF;
    display: flex;
}

.map-view{
    display: flex;
    width: 871px;
    height: 772px;
    padding: 39px 65px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;

    border-radius: 30px 0px;
    background: #FFF;

    /* smaller window */
    box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.25), 2px 2px 10px 0px rgba(0, 0, 0, 0.25) inset;

    margin-left: 280px;
}

input{
    width: 300px;
    height: 35px;
    flex-shrink: 0;

    fill: #FFF;
    stroke-width: 1px;
    stroke: #C0C6C9;
    margin: 15px;
}

label{
    margin: 15px;
}

.arrow{
    position: absolute;
    margin-left: 1046px;
    margin-top: 402px;
}

#search{
    border-radius: 30px;
    border: 1px solid #000;
    background: linear-gradient(180deg, rgba(33, 72, 192, 0.30) 0%, rgba(79, 76, 232, 0.26) 100%);

    /* Button */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    postiton: absolute;
}

.input-group {
    display: flex;
    align-items: center; /* Centrira elemente vertikalno */
}

.input-group input {
    /* Stilovi za ulazno polje */
    margin-right: 10px; /* Razmak između ulaznog polja i dugmeta */
}

.input-group button {
    /* Stilovi za dugme */
}
