<mat-toolbar id="navbar">
  <img routerLink="" src="../../assets/images/logo.png" height="61" width="98" alt="logo" class="logo-image"/>
  <span class="example-spacer"></span>
  <mat-form-field class="search-input">
    <mat-label>Search input</mat-label>
    <input matInput type="text" [(ngModel)]="value" (keyup.enter)="onSearchEnter()">
    <button matSuffix mat-icon-button aria-label="Search">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <button mat-icon-button class="filter-icon" (click)="openDialog()">
    <mat-icon>filter_alt</mat-icon>
  </button>
  <button mat-icon-button class="notifications-icon">
    <mat-icon>notifications</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button type="button" class="regular-button">Request</button>
  <button type="button" class="regular-button">Users</button>
  <button routerLink="/user-info" type="button" class="regular-button">Account</button>
</mat-toolbar>
