.form-info{
    margin-top: 40px;
    margin-left: 28%;

    display: flex;
    width: 658px;
    height: 456px;
    align-items: flex-start;
    gap: 74px;
    flex-shrink: 0;

    border-radius: 30px 0px;
    background: #FFF;

    /* smaller window */
    box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.25), 2px 2px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

.container {
    display: flex;
}

.calendar{
    flex: 1;
    padding: 40px;
}

.info-price {
    flex: 1;
    padding: 40px;
}

.total{
    padding: 30px;
}

.iznad{
    padding: 30px;
}

.table-of-prices{
    padding: 40px;
    border-radius: 30px 0px;
    background: #FFF;

    /* smaller window */
    box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.25), 2px 2px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

button{
    margin-top: 20px;
    width: 104px;
    height: 45px;
    flex-shrink: 0;

    border-radius: 30px;
    border: 1px solid #000;
    background: linear-gradient(180deg, rgba(33, 72, 192, 0.30) 0%, rgba(79, 76, 232, 0.26) 100%);

    /* Button */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


    /* Button Text */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
}


