<head>
  <link href='https://fonts.googleapis.com/css?family=Pinyon Script' rel='stylesheet'>
</head>
<body>
<div>
  <div id = "profile_picture_frame">
    <img src="https://picsum.photos/400/400" alt="PROFILNA SLIKA" id="profile_picture">
  </div>
  <div>
    <div class="info_frame">
      <div id="user_info_text">
        <label>User info</label>
      </div>
      <div class="info_container">
        <div id="info_row">
          <label for="Name">Name: </label>
        </div>
        <div id="info_row">
          <label for="owner">Owner: </label>
        </div>
        <div id="info_row">
          <label for="location">Location: </label>
        </div>
        <div id="info_row">
          <label for="benefits">Benefits: </label>
        </div>
        <div id="info_row">
          <label for="price">Price: </label>
        </div>
      </div>
    </div>

    </div>
  </div>

<div class="comments">
  <app-comments></app-comments>
</div>
</body>
