body{
  background-color: #FBF4EF;
  display: flex;
  flex-direction: column;
}

.info_frame{
  float: right;
  text-align: center;
  width: 40%;
  margin: 5%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: #FFF;
  border: 1px solid #000000
}

#user_info_text{
  font-family: "pinyon Script", monospace;
  margin-top: 5%;
  font-size: 50px;
}

.top_comments{
  float: right;
  text-align: center;
  width: 40%;
  margin-right: 5%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: #FFF;
  border: 1px solid #000000
}



.edit_user_info_button{
  padding: 8px 12px;
  width: 100px;
  cursor: pointer;
  margin-left: auto;
}

.info_row {
  font-family: "pinyon Script", monospace;
  font-size: 28px;
  display: flex;
  flex-wrap: nowrap;
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 5% 10% 10% 10%;
}

#profile_picture_frame{
  margin: 5%;
  width: 27%;
  height: 70%;
  float: left;
  background-color: #FFF;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border: 1px solid #000000
}

#profile_picture{
  margin: 10%;
}

.comment-box {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.username-box {
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
.comment-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
}

.comment-content {
  margin-bottom: 10px;
}

button{
  border-radius: 30px;
  border: 1px solid #000;
  background: linear-gradient(180deg, rgba(33, 72, 192, 0.30) 0%, rgba(79, 76, 232, 0.26) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 45px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}