
<body>
<div>
  <div id = "profile_picture_frame">
    <img src="https://picsum.photos/340/340" alt="PROFILNA SLIKA" id="profile_picture">
  </div>
  <div>
    <div class="info_frame">
      <div id="user_info_text">
        <label>Accommodation info</label>
      </div>
      <div class="info_container">
        <div class="info_row">
          <label>Name: {{accommodationDetailsDTO.accommodationDTO.name}}</label>
        </div>
        <div class="info_row">
          <label >Owner: {{accommodationDetailsDTO.accommodationDTO.ownerId}}</label>
        </div>
        <div class="info_row">
          <label>Location: {{accommodationDetailsDTO.accommodationDTO.location}}</label>
        </div>
        <div class="info_row">
          <label>Benefits: {{accommodationDetailsDTO.accommodationDTO.benefits}}</label>
        </div>
        <div class = "button">
          <button type="submit" (click)="navigateToEditAccommodation()">Edit</button>
        </div>
      </div>
    </div>

    </div>
  </div>

<div class="reserve">
  <app-reserve></app-reserve>
</div>


<div class="comments">
  <app-comments [comments]="accommodationDetailsDTO.commentsDTO"></app-comments>
</div>
<div class="mapa">
  {{accommodationDetailsDTO | json}}
  <app-map></app-map>
</div>

</body>

