
body{
  background-color: #FBF4EF;
}

.comment-container {
    max-width:90%;
    margin: 2%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.buttons-container {
  display: flex;
  justify-content: flex-end;
}


.comment-box {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


.username-box {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
.comment-input {
  resize: none;
  height: 100px; /* Prilagodite visinu prema potrebama */
  padding: 5px;
  margin-bottom: 10px;
}

.rating-box {
  display: flex;
  align-items: center; /* Centrira zvezdice vertikalno sa tekstom */
}

.user-rating-container {
  display: flex;
}

.rating-box span {
  cursor: pointer;
  font-size: 24px; /* Adjust the font size as needed */
  color: #6D8DCB; /* Set the initial color to gray */
}

.rating-box span:hover {
  color:  #2A4D82;
}

.rating-box .active {
  color:  #2A4D82;
}

.comment-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
}

.comment-content {
    margin-bottom: 10px;
}

.report-button {
    align-self: flex-end;
    padding: 8px 12px;

    border-radius: 30px;
    border: 1px solid #000;
    background: linear-gradient(180deg, rgba(33, 72, 192, 0.30) 0%, rgba(79, 76, 232, 0.26) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.report-button:hover {
    background-color: #555;
}

