<div class="comment-container">
    <div class="comment-box">
        <div class="username-box">Username</div>
        <div class="comment-wrapper">
            <div class="comment-content">
                <p>This is the comment content. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <button class="report-button regular-button">Report</button>
        </div>
    </div>
    <div class="comment-box">
        <div class="username-box">Username</div>
        <div class="comment-wrapper">
            <div class="comment-content">
                <p>This is the comment content. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <button class="report-button regular-button">Report</button>
        </div>
    </div>
</div>

