
body{
  background-color: #FBF4EF;
}

.comment-container {
    max-width: 100%;
    margin: 20px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.comment-box {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


.username-box {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.comment-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
}

.comment-content {
    margin-bottom: 10px;
}

.report-button {
    align-self: flex-end;
    padding: 8px 12px;

    border-radius: 30px;
    border: 1px solid #000;
    background: linear-gradient(180deg, rgba(33, 72, 192, 0.30) 0%, rgba(79, 76, 232, 0.26) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.report-button:hover {
    background-color: #555;
}
