.example-spacer {
  flex: 1 1 auto;
}
#navbar{
  background: #F9E7D3;
  box-shadow: 0px 16px 4px 0px rgba(0, 0, 0, 0.25);
}

.regular-button{
  border-radius: 30px;
  border: 1px solid #000;
  background: linear-gradient(180deg, rgba(33, 72, 192, 0.30) 0%, rgba(79, 76, 232, 0.26) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 150px;
  height: 45px;
  flex-shrink: 0;
  margin: 20px 20px;
}

.search-input{
  margin-top: 20px;
  border-radius: 30px;
}
