/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
  font-family: Montserrat;
  font-style: normal;
  color:  #586870;
  background-color: #FBF4EF}

button.regular-button, input[type = "button"]{
  border-radius: 30px;
  border: 1px solid #000;
  background: linear-gradient(180deg, rgba(33, 72, 192, 0.30) 0%, rgba(79, 76, 232, 0.26) 100%);

  /* Button */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
